/* 
    Document   : roundStyles
    Created on : 4/08/2012, 07:48:13 AM
    Author     : Isaias
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

